
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Bienvenido a MiEmpresa S.A de C.V.</h1>

      </div>
    </div>

    <div>
      Para revertir un cambio en el Working directory

<br>
git restore file
o bien ..-

git checkout -- file
<br>
Para revertir un cambio en el staged

git restore --staged file..." to unstage
o bien ...
git reset HEAD file
<br>

Para revertir un cambio en el stage con commit realizado
<br>
git checkout [hash commit]

o bien ...

git reset --hard [hash commit]

<br>
Para revertir un cambio  en el stage con commit realizado  al stage sin comit:
<br>
git reset --soft [hash commit]
al working ...
git restore --staged file
del working ..
git restore file
    </div>

    <table class="table">
    <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th
    scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    </tr>
    <tr>
    <th
    scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    </tr>
    <tr>
    <th
    scope="row">3</th>
    <td>Larry</td>
    <td>the
    Bird</td>
    <td>@twitter</td>
    </tr>
    </tbody>
    </table>
