<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Tutorial de Git</h1>
    <p></p>
    <p></p>
    <p><a class="btn btn-primary btn-lg" href="https://www.youtube.com/playlist?list=PLTd5ehIj0goMCnj6V5NdzSIHBgrIXckGU"
        role="button">Ver lista &raquo;</a></p>
  </div>
</div>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Comando</th>
      <th scope="col">Descripción</th>
      <th scope="col">Comentarios</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>git restore [file]</td>
      <td>Para revertir un cambio en el Working directory</td>
      <td>o bien ...
        git checkout -- [file]</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>git restore --staged [file]</td>
      <td>Para revertir un cambio en el staged</td>
      <td>git reset HEAD [file] </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>git checkout [hash commit]</td>
      <td>Para revertir un cambio en el stage con commit realizado</td>
      <td>git reset --hard [hash commit]</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>git reset --soft [hash commit]</td>
      <td>Para revertir un cambio en el stage con commit realizado al stage sin comit:</td>
      <td>al working ... <br>
        git restore --staged [file] <br>
        del working .. <br>
        git restore [file]</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>git diff hash_old hash_new </td>
      <td>Ver las diferencias entre 2 commits</td>
      <td>Ejemplos: <br> git diff ec7b69c  f2e3a33 <br> git diff HEAD~1 HEAD <br> O solo ... <br>
      git diff HEAD~1
      </td>
    </tr>

  </tbody>
</table>
